body {
  background-color: rgba(255, 255, 255, 0.9);
}

.header {
  background-color: #312D2A !important;
  color: #FFFFFF;
  border-bottom: none !important;
  height: 60px;
}

.content-header-stripe {
  background-image: url(../images/redwood-header-stripe.png);
  background-position: 100% 0;
  background-size: 100% 12px;
  background-repeat: repeat-x;
  padding-top: 12px;
  width: 100%;
}

.content-panel {
  width: 100%;
  min-height: 400px;
  background-color: #FFFFFF;
}

.foldout-container {
  height: calc(100vh - 292px);
}

.foldout-content-panel {
  padding: 24px 48px;
  width: 425px;
  height: 100%;
}

.foldout-content-panel-content {
  height: calc(100vh - 470px);
  overflow: hidden;
}

.panel-bg-color-even {
  background-color: rgb(var(--oj-palette-neutral-rgb-30));
}

.panel-bg-color-odd {
  background-color: rgb(var(--oj-palette-neutral-rgb-10));
}

.panel-title-underline {
  background-color: rgb(132, 106, 146);
  width: 32px;
  height: 4px;
}

.truncate-text-overflow {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




/* Progress Animation */

.progress-dot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.progress-dot-container .progress-dot:nth-last-child(1) {
  animation: progressDotAnimation 1s .4s linear infinite;
}

.progress-dot-container .progress-dot:nth-last-child(2) {
  animation: progressDotAnimation 1s .2s linear infinite;
}

.progress-dot-container .progress-dot:nth-last-child(3) {
  animation: progressDotAnimation 1s 0s linear infinite;
}

.progress-dot-container .progress-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #A29B95;
}

@keyframes progressDotAnimation {
  0% {
      transform: scale(1);
      background-color: #A29B95;
  }

  25%, 50% {
      background-color: #D5CCC3;
  }

  100% {
      transform: scale(1.3);
      background-color: #746F6B;
  }
}